table.dataShowT {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

table.dataShowT th {
    background-color:#c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.dataShowT tr {
    background-color:#d4e3e5;
    text-align:center;
}
table.dataShowT td {
    border-width: 1px;
    padding-top: 8px;
    padding-bottom : 8px;
    border-style: solid;
    text-align:center;
    border-color: #a9c6c9;
}