    <div class="form-div">
        <!-- add by zhangf 2015-07-19
            oneTrainInfoForm -> ff 修改表单名字重复导致 单个车厢修改页面（modifyOneTrainInfo.html） 不刷新表单问题
            表单元素id统一加上Batch 以和 单个车厢修改页面（modifyOneTrainInfo.html）区别，避免id重复导致异常问题
        -->
        <form id="ff" method="post">
                <table>
                    <tr>
                        <td>矿点</td>
                        <td><input id="colryNoBatch" name="colryNoBatch" class="easyui-combobox" style="width:145px;"
                                   data-options="required:true,valueField:'id',textField:'name',panelHeight:'300',url:'${base}/business/tool/getComboboxOpt/COAL_MINE'" /></td>
                        <td>煤种</td>
                        <td><input id="coalNoBatch" name="coalNoBatch" class="easyui-combobox" style="width:145px;"
                                   data-options="required:true,valueField:'id',textField:'name',panelHeight:'auto',url:'${base}/business/tool/getComboboxOpt/COAL_TYPE'" /></td>
                    </tr>
                    <tr>
                        <!--<td>供应商</td>-->
                        <!--<td><input id="venNoBatch" name="venNoBatch" class="easyui-combobox" style="width:145px;"-->
                                   <!--data-options="required:true,valueField:'id',textField:'name',panelHeight:'auto',url:'${base}/business/tool/getComboboxOpt/VENDOR_INFO'" /></td>-->
                        <td>采样方式</td>
                        <td><select id="sampleTypBatch" name="sampleTypBatch" class="easyui-combobox" data-options="required:true,panelHeight:'auto'"  style="width:145px;" >
                            <option value="0">皮带采样</option>
                            <option value="1">皮带大水分旁路</option>
                            <option value="2">人工采样</option>
                            <option value="3">车厢采样</option>
                            <option value="4">车厢大水分旁路</option>
                        </select></td>
                        <td id="ydQtyTD">盈亏</td>
                        <td><input class="easyui-numberbox" data-options="min:0, precision:3" value="0"  name="ydQtyBatch" id="ydQtyBatch" style="width:145px;"/></td>
                    </tr>
                    <tr>
                        <td>发站</td>
                        <td>
                            <input id="startPlace1" name="startPlace1" style="width:145px;"/>
                        </td>

                        <td>矿发时间</td>
                        <td>
                            <input class="easyui-datebox" data-options="required:true" id="deliverTime" name="deliverTime" style="width:145px">
                        </td>
                    </tr>
                    <tr>

                        <td>到站</td>
                        <td>
                            <input id="finalPlace1" name="finalPlace1" style="width:145px;"/>
                        </td>
                        <td>对位时间</td>
                        <td>
                            <input class="easyui-datetimebox" data-options="required:true" id="aimTime" name="aimTime" style="width:145px">
                        </td>
                    </tr>
                    <tr>
                        <td>轨道</td>
                        <td>
                            <input id="trackNoBatch" name="trackNoBatch" style="width:145px;"/>
                        </td>
                        <td>是否空车</td>
                        <td>
                            <input id="emptyFlgBatch" name="emptyFlgBatch" style="width:145px;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>收货单位</td>
                        <td>
                            <input id="goodsReceiver" name="goodsReceiver" style="width:145px;"/>
                        </td>
                        <td>人工抽样</td>
                        <td>
                            <input id="manCheckSample" name="manCheckSample" style="width:145px;"/>
                        </td>
                    </tr>
                </table>

            <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />

            <div id = "dynamicDiv"></div>

            <div >
                <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-save" onclick="saveDPInfos();">保存</a>
            </div>
        </form>
    </div>

<script type="text/javascript">
    var paramObj = new Object();
    $(function () {
        //修改时加载数据到控件
        var hrecordNo = document.getElementById("hiddenRecordNo").value;
        var hmodifyTag = document.getElementById("trainModifyTag").value;

        $('#emptyFlgBatch').combobox({
            panelHeight:'auto',
            valueField:'id',
            textField:'name',
            data: [
                {id: '1', name: '否', selected: true},
                {id: '0', name: '是'}
            ]
        });

        $('#manCheckSample').combobox({
            url:'${base}/business/tool/getDictionaryByType/MAN_CHECK_SAMPLE',
            valueField:'id',
            textField:'name',
            panelHeight:'auto',
            onLoadSuccess: function () { //加载完成后,设置选中第一项
                var val = $(this).combobox("getData");
                for (var item in val[0]) {
                    if (item == "id") {
                        $(this).combobox("select", val[0][item]);
                    }
                }
            }
        });

        $('#trackNoBatch').combobox({
            url:'${base}/business/tool/getDictionaryByType/TRACK_NO',
            valueField:'id',
            textField:'name',
            panelHeight:'auto',
            onLoadSuccess: function () { //加载完成后,设置选中第一项
                var val = $(this).combobox("getData");
                for (var item in val[0]) {
                    if (item == "id") {
                        $(this).combobox("select", val[0][item]);
                    }
                }
            }
        });

        $('#startPlace1').combobox({
            url:'${base}/business/tool/getDictionaryByType/START_RAIL_STATION',
            valueField:'id',
            textField:'name',
            panelHeight:'auto'
        });

        $('#finalPlace1').combobox({
            url:'${base}/business/tool/getDictionaryByType/FINAL_RAIL_STATION',
            valueField:'id',
            textField:'name',
            panelHeight:'auto'
        });

        $('#goodsReceiver').combobox({
            url:'${base}/business/tool/getDictionaryByType/GOODS_RECEIVER',
            required:true,
            valueField:'id',
            textField:'name',
            panelHeight:'auto'
        });

        //var selectedArray;
        var divObj = document.getElementById("dynamicDiv");
        for ( var i = 0; i<selectedTrains.length; i++) {
            divObj.innerHTML = divObj.innerHTML+'<div>'+'[车号:'+selectedTrains[i].carId+'] &nbsp;&nbsp; '+selectedTrains[i].xhNum+'号车厢票重(吨)：<input class="easyui-numberbox" value="0" data-options="min:0, precision:3"  id="tickQtyBatch'+i+'" style="width:140px;"/></div>';
        }
    });


    //保存
    function saveDPInfos() {
        //获取公共部分值
        var commonObj = new Object();
        commonObj.colryNo = $("#colryNoBatch").combobox("getValue");
        commonObj.coalNo = $("#coalNoBatch").combobox("getValue");
//        commonObj.venNo = $("#venNoBatch").combobox("getValue");
        commonObj.sampleTyp = $("#sampleTypBatch").combobox("getValue");
//        commonObj.lossQty = $("#lossQtyBatch").numberbox("getValue");
        commonObj.ydQty = $("#ydQtyBatch").numberbox("getValue");
        commonObj.trackNo = $("#trackNoBatch").combobox("getValue");
        commonObj.emptyFlg = $("#emptyFlgBatch").combobox("getValue");
        commonObj.startPlace = $("#startPlace1").combobox("getValue");
        commonObj.finalPlace = $("#finalPlace1").combobox("getValue");

        commonObj.goodsReceiver = $("#goodsReceiver").combobox("getValue");
        commonObj.manCheckSample = $("#manCheckSample").combobox("getValue");
        commonObj.aimTime = $("#aimTime").datetimebox("getValue");
        commonObj.deliverTime = $("#deliverTime").datetimebox("getValue");

        if (commonObj.colryNo == null || commonObj.colryNo == ""){
            showMsg("提示", "请选择具体矿点信息");
            return false;
        }

        if (commonObj.coalNo == null || commonObj.coalNo == ""){
            showMsg("提示", "请选择具体煤种信息");
            return false;
        }

        if (commonObj.sampleTyp == null || commonObj.sampleTyp == ""){
            showMsg("提示", "请选择采样方式信息");
            return false;
        }

        if (commonObj.deliverTime == null || commonObj.deliverTime == ""){
            showMsg("提示", "请选择发站时间");
            return false;
        }

        if (commonObj.aimTime == null || commonObj.aimTime == ""){
            showMsg("提示", "请选择对位时间");
            return false;
        }

        if (commonObj.goodsReceiver == null || commonObj.goodsReceiver == ""){
            showMsg("提示", "请选择收货单位");
            return false;
        }

        //打开遮罩
        $.messager.progress({ msg: '正在处理，请稍候...' });

        if (commonObj.ydQty == null || commonObj.ydQty == ""){
            commonObj.ydQty = "0";
            $("#ydQtyBatch").numberbox("setValue", "0");
        }

        //放入参数对象
        paramObj["publicInfo"] = JSON.stringify(commonObj);

        var arrayTickQtys = [];
        for ( var i = 0; i<selectedTrains.length; i++) {
            var o = {};
            o.recordNo = selectedTrains[i].recordNo;
            o.tickQty = $("#tickQtyBatch"+i).numberbox("getValue");
            arrayTickQtys[i] = o;
        }

        //放入票重数据
        paramObj["updateInfo"] = JSON.stringify(arrayTickQtys);

        //根据标识，选择是只录大票还是录大票并同时分批，1同时分批  2同时分批
        var isBatchTag = document.getElementById("hideIsBatchTag").value;
        var url = "${base}/business/monitor/batchTrainDPRecordOper";
        if (isBatchTag == "1") {
            url = "${base}/business/monitor/batchTrainDPRecordOper";
        } else if (isBatchTag == "2") {
            url = "${base}/business/monitor/batchTrainDPRecordOperAndBatch";
        }

        //提交数据
        $.post(url, paramObj, function(rsp) {
            if(rsp.successful){
                //关闭遮罩
                $.messager.progress('close');
                showMsg("提示", rsp.msg);
                $detaildg.datagrid('clearChecked');
                $detaildg.datagrid('clearSelections');
                $detaildg.datagrid('reload');
                selectedTrains = null;
                //关闭编辑窗口
                $('#batchTrainDPRecordWin').window('close');
            } else {
                //关闭遮罩
                $.messager.progress('close');
                showMsg("提示", rsp.msg);
            }
        }, "JSON").error(function() {
                    showMsg("提示", "保存失败！");
                });

    }
</script>
