    <div class="form-div">
        <form id="shipCargoRecordForm" method="post">
                <table>
                    <tr>
                        <td>矿点</td>
                        <td><input id="mineNo" name="mineNo" class="easyui-combobox" style="width:145px;"
                                   data-options="required:true, valueField:'id',textField:'name',panelHeight:'300',url:'${base}/business/tool/getComboboxOpt/COAL_MINE'" /></td>
                        <td>煤种</td>
                        <td><input id="coalNo" name="coalNo" class="easyui-combobox" style="width:145px;"
                                   data-options="required:true,valueField:'id',textField:'name',panelHeight:'auto',url:'${base}/business/tool/getComboboxOpt/COAL_TYPE'" /></td>
                    </tr>
                    <tr>
                        <td>装港吨位</td>
                        <td><input class="easyui-numberbox" data-options="required:true,min:0, max:300000, precision:1"  id="departQty" name="departQty" style="width:145px;"/></td>
                        <td>到港吨位</td>
                        <td><input class="easyui-numberbox" data-options="required:true,min:0, max:300000, precision:2"  id="arriveQty" name="arriveQty" style="width:145px;"/></td>
                    </tr>
                    <tr>
                        <td>扣损类型</td>
                        <td><select id="lossType" name="lossType" class="easyui-combobox" data-options="panelHeight:'auto'"  style="width:145px;" >
                            <option selected value="0">无损</option>
                            <option value="1">水分</option>
                            <option value="2">矸石</option>
                            <option value="3">自燃</option>
                            <option value="4">其它</option>
                        </select></td>
                        <td>扣吨</td>
                        <td><input class="easyui-numberbox" data-options="min:0, max:50000, precision:1"  id="kdQty" name="kdQty" style="width:145px;"/></td>
                    </tr>
                    <tr>
                        <td>运单吨位</td>
                        <td><input class="easyui-numberbox" data-options="required:true, min:0, max:300000, precision:1"  id="tickQty" name="tickQty" style="width:145px;"/></td>
                        <td>舱位编号</td>
                        <td>
                            <select id="cabinNos" name="cabinNos" class="easyui-combobox" data-options="required:true, panelHeight:'auto', multiple:true"  style="width:145px;" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <!--<td>皮带秤吨位</td>-->
                        <!--<td><input class="easyui-numberbox" data-options="min:0, max:300000, precision:2"  id="receiveQty" name="receiveQty" style="width:145px;"/></td>-->
                        <td>采样方式</td>
                        <td colspan="3">
                            <select id="sampleType" name="sampleType" class="easyui-combobox" data-options="required:true, panelHeight:'auto'"  style="width:145px;" >
                                <option selected value="0">皮带采样</option>
                                <option value="1">皮带大水分旁路</option>
                                <option value="2">人工采样</option>
                                <option value="3">车厢采样</option>
                                <option value="4">车厢大水分旁路</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="opTR1">
                        <td style="text-align: center" colspan="4">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save"  onclick="submitForm()">保存</a>
                        </td>
                    </tr>
                </table>

        </form>
    </div>

<script type="text/javascript">

    $(function () {
        var shipCargoActionTag = document.getElementById("shipCargoActionTag").value;

        //修改时加载数据到控件
        if (shipCargoActionTag == 'MOD'){
            var qryObj = {};
            qryObj.search_recordNo = document.getElementById("shipCargoIdHidden").value;
            $.post("${base}/business/monitor/qryShipCargoInfo", qryObj, function (rsp) {
                if (rsp) {
                    if (rsp.rows.length > 0) {
                        $('#shipCargoRecordForm').form('load',rsp.rows[0]);
                        $('#cabinNos').combobox('setValues',rsp.rows[0].cabinNos.split(','));
                    }
                }
            });
        }
    });


    //提交表单
    function submitForm(){
        if (! $("#shipCargoRecordForm").form('validate')) {
            showMsg("提示", "有必填项未输入值!");
            return false;
        }

        $.messager.confirm('提示', '确定保存?', function (r) {
            if (r) {
                //提交保存
                save();
            }
        });
    }

    //保存
    function save(){
        var params = $("#shipCargoRecordForm").serialize();
        var shipRecID = document.getElementById("shipRecIdHidden").value;
        var actionTag = document.getElementById("shipCargoActionTag").value;
        var recordNo = document.getElementById("shipCargoIdHidden").value;

        params = params + "&shipRecID=" + shipRecID;
        if (actionTag == "MOD") {
            params = params + "&recordNo=" + recordNo;
        }

        $.post("${base}/business/monitor/editShipCargoRec/"+actionTag, params, function (rsp) {
            if (rsp.successful) {
                showMsg("提示",rsp.msg);
                $('#editShipCargoRecWin').window('close');
                $shipCargolDg.datagrid('reload');
            } else {
                showMsg("提示", rsp.msg);
            }
        });
    }

</script>
