    <div id="selectTb">
        <table>
            <tr>
                <td>
                    <input type="button" onclick="submitSelect();" value="确定"/>
                </td>

            </tr>
        </table>
    </div>

    <div id="spl" style="margin: 5px;width: 99%">
        <table id="shipListDg" ></table>
    </div>


<script type="text/javascript">

$shipListDg = $("#shipListDg");

//初始化查询
$(function () {
    var paramObj = {};
    var myDate = new Date();
    var qryBeginDate = getDateStr(-100);
    var qryEndDate =  myDate.getFullYear()+"-"+(parseInt(myDate.getMonth())+1)+"-"+myDate.getDate();

    paramObj.search_beginDate = qryBeginDate;
    paramObj.search_endDate = qryEndDate;

    $shipListDg.datagrid({
        url: "${base}/business/monitor/qryShipTransInfo",
        fitColumns: true,
        width: 465,
        height: 290,
        idField: 'shipRecID',
        singleSelect:true,
        rownumbers:true,
        queryParams:paramObj,
        columns: [
            [   {field: 'shipRecID', title: 'ID',align:'center', width:25, checkbox:true},
                {field: 'shipTransNo', title: '运输编号',align:'center', width:80},
                {field: 'shipCode', title: '船名',align:'center', width:60},
                {field: 'shipName', title: '船号',align:'center', width:60},
                {field: 'factTime', title: '到港时间',align:'center', width:100}
            ]
        ],
        toolbar: '#selectTb'
    });
});


//发送采样机操作的命令
function submitSelect(){
    var selectedRow = $shipListDg.datagrid('getSelected');
    if (selectedRow) {
        var r = confirm( '确定提交?');
        if (r == true){
            var paramObj = new Object();
            paramObj.search_shipRecID = selectedRow.shipRecID;

            $.post("${base}/business/monitor/setCurrentShip", paramObj, function (rsp) {
                if (rsp) {
                    showMsg("提示", rsp.msg);
                    $('#setCurrentShipWin').window('close');
                    $basicdg.datagrid('reload');
                } else {
                    showMsg("提示",  "选择当前卸煤船失败!");
                }
            });
        }
        return false;
    } else {
        showMsg("提示",  "请选择卸煤船!");
        return false;
    }


}

function getDateStr(addDayCount){
    var strDate = new Date();
    var beginDate = strDate.getTime();
    var endDate = beginDate + (parseInt(addDayCount)*24*60*60*1000);
    strDate.setTime(endDate);
    var dtStart=new Date(strDate);
    return  dtStart.getFullYear()+"-"+(parseInt(dtStart.getMonth())+1)+"-"+dtStart.getDate();
}

</script>
