<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>轮船来煤管理</title>
    <base href="${base}/">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <#include "/include/common.html"/>
</head>

<body>

    <div id="tb">
        <table>
            <tr>
                <td>
                    <label for="beginDate">来煤日期：</label>
                    <input class="easyui-datebox" id="beginDate" style="width:120px">&nbsp;—&nbsp;
                    <input class="easyui-datebox" id="endDate"  style="width:120px">
                    <label for="shipId">船名(船号)：</label>
                    <input id="shipId" class="easyui-combobox" style="width:160px;"
                           data-options="valueField:'id',textField:'name',panelHeight:'auto',url:'${base}/business/tool/getComboboxOpt/SHIP_INFO'" />
                    <a href="javascript:void(0)" id="qryBtn" class="easyui-linkbutton" iconCls="icon-search"  onclick="qry()">查询</a>
                    <!--<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" onclick="editShipRec('ADD');">新增</a>-->
                    <!--<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" onclick="editShipRec('MOD');">修改</a>-->
                    <!--<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" onclick="delShipTransRec();">删除</a>-->
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-cut" onclick="batShipTransRec()">分批</a>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" onclick="editShipRec('VIEW');">详情</a>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-ok" onclick="setCurrentShip();">设定卸煤船</a>
                    <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" onclick="finishUnload();">卸煤完成</a>

                    <input type="hidden" id="shipRecActionTag">
                    <input type="hidden" id="shipRecIdHidden">

                    <input type="hidden" id="shipCargoActionTag">
                    <input type="hidden" id="shipCargoIdHidden">
                </td>
            </tr>
        </table>
    </div>

    <div id="detailtb">
        <table>
            <tr>
                <td>
                    <!--<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" onclick="editShipCargoRec('ADD');">新增</a>-->
                    <!--<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" onclick="editShipCargoRec('MOD');">修改</a>-->
                    <!--<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" onclick="delShipCargoRec();">删除</a>-->
                </td>
            </tr>
        </table>
    </div>

    <div id="tx" style="margin: 5px;width: 90%">
        <table id="shipBasicDg" title="船运信息"></table>
    </div>

    <div id="det" style="margin: 5px;width: 90%">
        <table id="shipCargolDg" title="船运煤信息"></table>
    </div>

    <div id="editShipRecWin" ></div>
    <div id="editShipCargoRecWin" ></div>
    <div id="viewShipBatchDetailWin" ></div>
    <div id="setCurrentShipWin" ></div>
    <div id="finishUnloadWin" ></div>

</body>
<script type="text/javascript">
//全局变量
$basicdg = $("#shipBasicDg");
$shipCargolDg = $("#shipCargolDg");
var oneTrainInfo;
var selectedTrains;

$(function () {
    //刚进入页面时，查询日期默认取当前日的
    var myDate = new Date();
    var defaultBeginTime = myDate.getFullYear()+"-"+(parseInt(myDate.getMonth())+1)+"-"+myDate.getDate();
    var defaultEndTime =  myDate.getFullYear()+"-"+(parseInt(myDate.getMonth())+1)+"-"+myDate.getDate();

    $basicdg.datagrid({
        url: "${base}/business/monitor/qryShipTransInfo",
        fitColumns: true,
        height: $(this).height()/2+70,
        width: $(this).width()-24,
        idField:'shipRecID',
        singleSelect:true,
        rownumbers:true,
        queryParams: {//默认进来查当天
            search_beginDate:defaultBeginTime,
            search_endDate:defaultEndTime
        },
        columns: [
            [
                {field: 'shipTransNo', title: '运输编号',align:'center', width:25},
                {field: 'shipName', title: '船名',align:'center', width:20},
                {field: 'waterTun', title: '水尺吨位',align:'center', width: 15},
                {field: 'statusName', title: '船舶状态',align:'center', width: 15},
//                {field: 'loadHours', title: '装港用时',align:'center', width: 15},
//                {field: 'unloadHours', title: '卸港用时',align:'center', width: 15},
                {field: 'startPortName', title: '始发港口',align:'center', width: 20},
                {field: 'finalPortName', title: '到达港口',align:'center', width: 20},
//                {field: 'estimateTime', title: '预计到港时间',align:'center', width: 25},
                {field: 'factTime', title: '实际到港时间',align:'center', width: 25},
//                {field: 'arrangeTime', title: '接卸时间',align:'center', width: 25},
                {field: 'unloadTime', title: '卸港完成时间',align:'center', width: 25},
                {field: 'departTime', title: '离港时间',align:'center', width: 25}
//                {field: 'berthNo', title: '泊位号',align:'center', width: 10}
            ]
        ],
        toolbar: '#tb',
        onClickRow:function(rowIndex, rowData){
            var o = {};
            o.search_shipRecID = rowData.shipRecID;
            $shipCargolDg.datagrid('clearSelections');
            document.getElementById("shipRecActionTag").value = "";
            document.getElementById("shipCargoActionTag").value = "";
            document.getElementById("shipCargoIdHidden").value = "";
            $shipCargolDg.datagrid('load', o);
        }
    })
});

//查询
function qry(){
    var beginDate = $("#beginDate").datebox("getValue");
    var endDate = $("#endDate").datebox("getValue");
    var shipId = $("#shipId").combobox("getValue");

    var qryObj = {};
    if (beginDate != null && beginDate != "" && beginDate.length > 0) {
        qryObj.search_beginDate = beginDate;
    }

    if (endDate != null && endDate != "" && endDate.length > 0) {
        qryObj.search_endDate = endDate;
    }

    if (shipId != null && shipId != "" && shipId.length > 0) {
        qryObj.search_shipId = shipId;
    }

    $basicdg.datagrid('load', qryObj);
}


$(function () {
    $shipCargolDg.datagrid({
        url: "${base}/business/monitor/qryShipCargoInfo",
        fitColumns: true,
        height: $(this).height()/2-20,
        width: $(this).width()-24,
        idField:'recordNo',
        singleSelect:false,
        rownumbers:true,
        ctrlSelect:true,
        queryParams: {//默认进来查不到数据
            search_shipRecID:'-1'
        },
        toolbar: '#detailtb',
        columns: [
            [
                {field: 'mineName', title: '矿点',align:'center', width:18},
                {field: 'coalName', title: '煤种',align:'center', width: 18},
//                {field: 'cabinNos', title: '舱位编号',align:'center', width:22},
                {field: 'tickQty', title: '运单吨位',align:'center', width:20},
                {field: 'departQty', title: '装港水尺吨位',align:'center', width:20},
                {field: 'arriveQty', title: '到港水尺吨位',align:'center', width:20},
                {field: 'receiveQty', title: '到厂皮带秤吨位',align:'center', width:20},
//                {field: 'lossTypeName', title: '扣损类型',align:'center', width:18},
//                {field: 'kdQty', title: '扣吨',align:'center', width:18},
                {field: 'sampleTypeName', title: '采样方式',align:'center', width:18},
                {field: 'isBatchName', title: '分批状态',align:'center', width:18, formatter:operLink}//
            ]
        ]
    });
});

function editShipRec(shipRecActionTag){
    document.getElementById("shipRecActionTag").value = shipRecActionTag;
    var winTitle;

    if (shipRecActionTag == "ADD") {
        winTitle = '新增船运记录';
    } else if (shipRecActionTag == "MOD") {
        winTitle = '修改船运记录';
        var selectedRow = $basicdg.datagrid('getSelected');
        if (selectedRow) {
            document.getElementById("shipRecIdHidden").value = selectedRow.shipRecID;
        } else {
            showMsg("提示", "请先选择要修改的船运记录");
            return false;
        }
    } else if (shipRecActionTag == "VIEW") {
        winTitle = '查看船运记录详情';
        var selectedRow = $basicdg.datagrid('getSelected');
        if (selectedRow) {
            document.getElementById("shipRecIdHidden").value = selectedRow.shipRecID;
        } else {
            showMsg("提示", "请先选择要查看的船运记录");
            return false;
        }
    }

    $('#editShipRecWin').window({
        modal : true,
        title : winTitle,
        width : 500,
        height : 340,
        collapsible : false,
        minimizable : false,
        maximizable : true,
        href : '${base}/business/monitor/editShipRecInfo'
    });
}

function setCurrentShip() {
    $('#setCurrentShipWin').window({
        modal : true,
        title : '设置当前卸煤船',
        width : 500,
        height : 340,
        collapsible : false,
        minimizable : false,
        maximizable : true,
        href : '${base}/business/monitor/setCurrentShipPage'
    });
}

function finishUnload() {
    var selectedRow = $basicdg.datagrid('getSelected');
    if (selectedRow) {
        document.getElementById("shipRecIdHidden").value = selectedRow.shipRecID;
    } else {
        showMsg("提示", "请先选择卸完煤的船！");
        return false;
    }

    $('#finishUnloadWin').window({
        modal : true,
        title : '卸煤完成',
        width : 280,
        height : 180,
        collapsible : false,
        minimizable : false,
        maximizable : true,
        href : '${base}/business/monitor/finishUnload'
    });
}

function delShipTransRec(){
    var selectedRow = $basicdg.datagrid('getSelected');
    if (selectedRow) {
        $.messager.confirm('提示', '确定要删除所选船运记录?', function (r) {
            if (r) {
                var params = "shipRecID=" + selectedRow.shipRecID;
                $.post("${base}/business/monitor/editShipTransRec/DEL", params, function (rsp) {
                    if (rsp.successful) {
                        showMsg("提示",rsp.msg);
                        //$basicdg.datagrid('reload');
                        //$shipCargolDg.datagrid('reload');
                        reload();
                    } else {
                        showMsg("提示", rsp.msg);
                    }
                });
            }
        });
    } else {
        showMsg("提示", "请先选择要删除的船运记录");
        return false;
    }
}

function batShipTransRec(){
    var selectedRow = $basicdg.datagrid('getSelected');
    if (selectedRow) {
        $.messager.confirm('提示', '确定要分批?', function (r) {
            if (r) {
                var params = "shipRecID=" + selectedRow.shipRecID;
                $.post("${base}/business/monitor/editShipTransRec/BAT", params, function (rsp) {
                    if (rsp.successful) {
                        showMsg("提示",rsp.msg);
                        //$basicdg.datagrid('reload');
                        //$shipCargolDg.datagrid('reload');
                        reload();
                    } else {
                        showMsg("提示", rsp.msg);
                    }
                });
            }
        });
    } else {
        showMsg("提示", "请先选择要分批的船运记录");
        return false;
    }
}


function editShipCargoRec(shipCargoActionTag){
    var selectedRow = $basicdg.datagrid('getSelected');
    if (selectedRow) {
        document.getElementById("shipRecIdHidden").value = selectedRow.shipRecID;
    } else {
        showMsg("提示", "请先选择船运煤所属的船运记录");
        return false;
    }

    document.getElementById("shipCargoActionTag").value = shipCargoActionTag;
    var winTitle;

    if (shipCargoActionTag == "ADD") {
        winTitle = '新增船运煤记录';
    } else if (shipCargoActionTag == "MOD") {
        winTitle = '修改船运煤记录';
        var selectedCargoRow = $shipCargolDg.datagrid('getSelected');
        if (selectedCargoRow) {
            document.getElementById("shipCargoIdHidden").value = selectedCargoRow.recordNo;
        } else {
            showMsg("提示", "请先选择要修改的船运煤记录");
            return false;
        }
    }

    $('#editShipCargoRecWin').window({
        modal : true,
        title : winTitle,
        width : 500,
        height : 220,
        collapsible : false,
        minimizable : false,
        maximizable : true,
        href : '${base}/business/monitor/editShipCargoRecInfo'
    });
}

function delShipCargoRec(){
    var selectedRow = $shipCargolDg.datagrid('getSelected');
    if (selectedRow) {
        $.messager.confirm('提示', '确定要删除所选船运煤记录?', function (r) {
            if (r) {
                var params = "recordNo=" + selectedRow.recordNo;
                $.post("${base}/business/monitor/editShipCargoRec/DEL", params, function (rsp) {
                    if (rsp.successful) {
                        showMsg("提示",rsp.msg);
                        $shipCargolDg.datagrid('reload');
                    } else {
                        showMsg("提示", rsp.msg);
                    }
                });
            }
        });
    } else {
        showMsg("提示", "请先选择要删除的船运煤记录");
        return false;
    }
}


function operLink(val,row,index){
    var isBatch = row.isBatch;
    var isBatchName = row.isBatchName;
    var shipRecID = row.shipRecID;

    if (isBatch == 'Y') {
        return ('<a href="javascript:void(0)" onclick="viewBatchInfo('+shipRecID+')">'+isBatchName+'</a>');
    } else {
        return isBatchName;
    }
}

function viewBatchInfo(shipRecID){
    document.getElementById("shipRecIdHidden").value = shipRecID;
    $('#viewShipBatchDetailWin').window({
        modal : true,
        title : '船运煤分批详情',
        width : 1100,
        height : 350,
        collapsible : false,
        minimizable : false,
        maximizable : true,
        href : '${base}/business/monitor/viewShipBatchInfo'
    });

}

function reload(){
    $.messager.progress({ msg: '正在刷新页面！' });
    try{
        setTimeout(function(){$basicdg.datagrid("reload");}, 150);
        setTimeout(function(){$shipCargolDg.datagrid("reload");},350);
    }catch (e){
        alert(e);
    }
    //延迟1.5秒取消遮罩，防止重复点
    setTimeout(function(){
        $.messager.progress('close');
    }, 1500);
}

</script>
</html>
