<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>全厂总览</title>
    <base href="${base}/">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <#include "/include/common.html"/>
    <link rel="stylesheet" href="${base}/styles/css/trainAndCarOverview.css">


</head>

<body>

<div id="cc" class="easyui-layout" style="width:100%;height:1040px;">

    <!--北部区域暂时没用-->
    <!--<div data-options="region:'north',title:'North Title',split:true" style="height:100px;"></div>-->

    <div data-options="region:'east',title:'扩展信息',split:true" style="width:18%;">

        <!--<div id="" class="easyui-panel" title="关键指标" style="width:100%;height:258px;padding:0px;" data-options="fit:false" >-->
            <!--<table id="mcmzxx" class="easyui-datagrid"  data-options="method:'get',border:true,singleSelect:true,fitColumns:true,showHeader:true">-->
                <!--<thead>-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th data-options="field:'oKey',width:70,align:'center'">指标</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th data-options="field:'oVal',width:40,align:'center'">值</th>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--<tr>-->
                    <!--<th data-options="field:'key',width:70,align:'center'">指标</th>-->
                    <!--<th data-options="field:'dayVal',width:40,align:'center'">今日</th>-->
                    <!--<th data-options="field:'monthVal',width:40,align:'center'">本月</th>-->
                    <!--<th data-options="field:'yearVal',width:40,align:'center'">本年</th>-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->
        <!--</div>-->

        <!--以弹出框形式显示
        <div id="p" class="easyui-panel" title="故障报警信息 (双击查看详情)" data-options="fit:false"  style="width:100%;height:310px;padding:0px;noheader:true">
            <table id="deviceErrDg" class="easyui-datagrid"
                   data-options="idField:'errorRecId',method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/deviceErrList',showHeader:false">
                <thead>
                <tr>
                    <th data-options="field:'errorTime',width:55,align:'left'">时间</th>
                    <th data-options="field:'errorDec',width:45,align:'left'">信息</th>
                </tr>
                </thead>
            </table>
        </div>
        -->

        <div id="p" class="easyui-panel" title="" data-options="fit:false"  style="width:100%;height:1000px;padding:0px;noheader:true">
            <div class="easyui-tabs" style="width:100%;height:900px">
                <div title="实时信息（高）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" style="padding:0;" data-options="tabWidth:152">
                    <table id="dynamicInfoDg1" class="easyui-datagrid" width="300px"
                    data-options="method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/deviceBroadList/1',showHeader:false">
                    <thead>
                    <tr>
                    <th data-options="field:'broadTime',width:45,align:'left'">时间</th>
                    <th data-options="field:'broadDec',width:55,align:'left'">信息</th>
                    </tr>
                    </thead>
                    </table>
                </div>
                <div title="实时信息（中）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" style="padding:0px;height: 20px;width: 40px" data-options="tabWidth:152">
                    <table id="dynamicInfoDg2" class="easyui-datagrid" width="300px"
                           data-options="method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/deviceBroadList/2',showHeader:false">
                        <thead>
                        <tr>
                            <th data-options="field:'broadTime',width:45,align:'left'">时间</th>
                            <th data-options="field:'broadDec',width:55,align:'left'">信息</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div title="实时信息（低）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" style="padding:0px;height: 20px;width: 40px" data-options="tabWidth:152">
                    <table id="dynamicInfoDg3" class="easyui-datagrid" width="300px"
                           data-options="method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/deviceBroadList/3',showHeader:false">
                        <thead>
                        <tr>
                            <th data-options="field:'broadTime',width:45,align:'left'">时间</th>
                            <th data-options="field:'broadDec',width:55,align:'left'">信息</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--<div id="tab-tools">-->
                <!--<div  style="height: 20px; right: 0px;">实时信息</div>-->
            <!--</div>-->
            <!--<table id="dynamicInfoDg1" class="easyui-datagrid"-->
                   <!--data-options="method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/deviceBroadList',showHeader:false">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th data-options="field:'broadTime',width:45,align:'left'">时间</th>-->
                    <!--<th data-options="field:'broadDec',width:55,align:'left'">信息</th>-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->

        </div>
    </div>


    <!--插入动画区域-->
    <div data-options="region:'center',title:'',noheader:'true'" style="padding:5px;text-align: center;overflow-y: hidden">
        <!--<iframe src="${base}/htmlresource/FC_INDEX/car_train.html" width="1600" height="1090"></iframe>-->
        <iframe src="${base}/business/htmlView/fcIndex" width="1520" height="1000"></iframe>
    </div>

<!--    <div data-options="region:'south',title:'',noheader:'true',split:true" style="height:175px;">
        <div style="width:100%">
            <table style="width:100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width:24%;vertical-align:top" >
                        <table id="arrivedCoalDg" class="easyui-datagrid" title="今日来煤情况"
                               data-options="method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/todayArrivedCoalList'">
                            <thead>
                            <tr>
                                <th data-options="field:'coalNam',width:30,align:'center'">煤种</th>
                                <th data-options="field:'venNam',width:40,align:'center'">供应商</th>
                                <th data-options="field:'totalEntryCnt',width:20,align:'center'">车数</th>
                                <th data-options="field:'totalMzQty',width:25,align:'center'">毛重</th>
                                <th data-options="field:'totalNetQty',width:25,align:'center'">净重</th>
                            </tr>
                            </thead>
                        </table>
                    </td>
                    <td style="width:47%;vertical-align:top">
                        <table id="carDynamicDg" class="easyui-datagrid" title="汽车动态信息"
                               data-options="method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/carDynamicList'">
                            <thead>
                            <tr>
                                <th data-options="field:'carId',width:25,align:'center'">车号</th>
                                <th data-options="field:'carrierNam',width:45,align:'center'">运输单位</th>
                                <th data-options="field:'coalNam',width:22,align:'center'">煤种</th>
                                <th data-options="field:'recordDtm',width:45,align:'center'">进厂时间</th>
                                <th data-options="field:'curPos',width:26,align:'center'">当前位置</th>
                                <th data-options="field:'nextPos',width:26,align:'center'">下一位置</th>
                            </tr>
                            </thead>
                        </table>
                    </td>
                    <td style="width:24%;vertical-align:top">
                        <table id="dynamicInfoDg" class="easyui-datagrid" title="动态信息"
                               data-options="method:'get',border:true,singleSelect:true,fitColumns:true,url:'${base}/business/monitor/deviceBroadList',showHeader:false">
                            <thead>
                            <tr>
                                <th data-options="field:'broadTime',width:45,align:'left'">时间</th>
                                <th data-options="field:'broadDec',width:55,align:'left'">信息</th>
                            </tr>
                            </thead>
                        </table>
                    </td>

                </tr>
            </table>
        </div>
    </div>-->

</div>
<!--告警信息处理窗口-->
<div id="deviceErrDetailWin" ></div>
</body>
</html>
<script type="text/javascript">
    //TODO
    var deviceIp ;
    var machineCode;
    var flowId;
//    $('#mcmzxx').datagrid({
//        data: [
//            {oKey:'入厂热值', oVal:"5060.2"},
//            {oKey:'入炉热值', oVal:"4060.0"},
//            {oKey:'热值差', oVal:"100"},
//            {oKey:'来煤量', oVal:"120"},
//            {oKey:'耗用量', oVal:"3000"},
//            {oKey:'库存量', oVal:"8000"} ,
//            {oKey:'来煤车数', oVal:"8"}

//            {key:'入厂热值', dayVal:"", monthVal:"", yearVal:""},
//            {key:'入炉热值', dayVal:"", monthVal:"", yearVal:""},
//            {key:'热值差', dayVal:"", monthVal:"", yearVal:""},
//            {key:'入厂标单', dayVal:"", monthVal:"", yearVal:""},
//            {key:'来煤量', dayVal:"", monthVal:"", yearVal:""},
//            {key:'耗用量', dayVal:"", monthVal:"", yearVal:""},
//            {key:'库存量', dayVal:"", monthVal:"", yearVal:""},
//            {key:'来煤车数', dayVal:"", monthVal:"", yearVal:""}
//        ]
//    });

    $('#dynamicInfoDg1').datagrid({
        onDblClickRow: function(index,field,value){
            parent.parent.addTab("实时信息（高）||icon-sys||${base}/business/monitor/deviceBroad/list?deviceBroadPri=1");
        }
    });

    $('#dynamicInfoDg2').datagrid({
        onDblClickRow: function(index,field,value){
            parent.parent.addTab("实时信息（中）||icon-sys||${base}/business/monitor/deviceBroad/list?deviceBroadPri=2");
        }
    });

    $('#dynamicInfoDg3').datagrid({
        onDblClickRow: function(index,field,value){
            parent.parent.addTab("实时信息（低）||icon-sys||${base}/business/monitor/deviceBroad/list?deviceBroadPri=3");
        }
    });


    //绑定双击事件
    /*
    $('#deviceErrDg').datagrid({
        rowStyler: function(index,row){
            return 'background-color:#fff;color:red;';
        },
        onDblClickRow: function(rowIndex, rowData){
            deviceIp = rowData.deviceIp;
            machineCode = rowData.machineCode;
            flowId = rowData.flowId;
            viewDeviceErrDetail(rowData.errorRecId);
        }
    });


    function viewDeviceErrDetail(recId) {
        var win = $('#deviceErrDetailWin').window({
            modal : true,
            title : '故障报警信息详情及处理',
            width : 1000,
            height : 600    ,
            collapsible : false,
            minimizable : false,
            maximizable : true,
            href : '${base}/business/monitor/deviceErrDetail/'+recId,
            onClose : function() {
                $("#deviceErrDg").datagrid('load');
            }
        });
    }
    */


    //每过60秒刷新一次今日来煤信息信息
   // window.setInterval(function() {$("#arrivedCoalDg").datagrid('load');}, 60*1000);

    //每过45秒刷新汽车动态信息
   // window.setInterval(function() {$("#carDynamicDg").datagrid('load'); }, 45*1000);

    //每过35秒刷新设备动态信息
    window.setInterval(function() {$("#dynamicInfoDg1").datagrid('load'); }, 35*1000);

    window.setInterval(function() {$("#dynamicInfoDg2").datagrid('load'); }, 35*1000);

    window.setInterval(function() {$("#dynamicInfoDg3").datagrid('load'); }, 35*1000);

    //每过30秒刷新设备故障报警信息
    //window.setInterval(function() {$("#deviceErrDg").datagrid('load'); }, 30*1000);

    function openDeviceErr(){
        ///business/monitor/deviceErr/list
        parent.parent.addTab("故障信息查询||icon-sys||${base}/business/monitor/deviceErr/list");
        $messager.window('close');
    }
    var tt;
    var txt;
    var $messager;
    var rowNum = 0;
    window.setInterval(function () {
        $.ajax({
            async: false,
            cache: false,
            type: 'POST',
            url: '${base}/business/monitor/deviceErrLists',
            error: function () {// 请求失败处理函数
                showMsg("提示", "查询数据失败,请重新登陆!");
            },
            success: function (json) {
//                alert(JSON.stringify(json));
                if (json.length > 0) {
                    rowNum = 1;
                    tt = json;
                    //txt = '<div class="mianbox"><div class="tablebox"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="Fsttable" ><tr class="title"><td>故障描述</td></tr><tr class="mod001"><td>故障故障故障哈哈</td></tr><tr class="mod002"><td>故障故障故障哈哈</td></tr></tr><tr class="mod001"><td>故障故障故障哈哈</td></tr><tr class="mod002"><td>故障故障故障哈哈</td></tr></tr><tr class="mod001"><td>故障故障故障哈哈</td></tr><tr class="mod002"><td>故障故障故障哈哈</td></tr></tr><tr class="mod001"><td>故障故障故障哈哈</td></tr><tr class="mod002"><td>故障故障故障哈哈</td></tr></table></div></div>';
//                    txt = '<div class="mianbox" onclick="openDeviceErr();"><div class="tablebox"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="Fsttable" ><tr class="title"><td><b>故障描述</b></td></tr>';
                    txt = '<div class="mianbox" onclick="openDeviceErr();"><div class="tablebox"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="Fsttable" >';
                    for (x in tt) {
                        if (rowNum%2 == 1){
                            txt += '<tr class="mod001"><td><font color="red">'+tt[x].errorDec+'</font></td></tr>';
                        } else {
                            txt += '<tr class="mod002"><td><font color="red">'+tt[x].errorDec+'</font></td></tr>';
                        }
                        rowNum ++;
                    }
                    txt +="</table></div></div>";
                    if ($messager == null) {
                        $messager = $.messager.show({
                            title: '故障信息',
                            msg: txt,
                            timeout: 0,
                            showType: 'show',
                            width:300,
                            height:150,
                            onBeforeClose: function () {
                                $messager = null;
                            }
                        });
                    }
//                                    setTimeout(function(){
//                                        $messager.window('destroy');
//                                    }, 5000);
                }
            }
        });
    }, 30*1000);


</script>