<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gxz.znrl.mapper.GoodInfoMapper" >
  <resultMap id="BaseResultMap" type="org.gxz.znrl.entity.GoodInfoEntity" >
    <id column="GOOD_NO" property="goodNo" jdbcType="VARCHAR" />
    <result column="GOOD_NAME" property="goodName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="GOOD_TYPE" property="goodType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GOOD_NO, GOOD_NAME, GOOD_UNIT,GOOD_TYPE,REMARK,STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.gxz.znrl.entity.GoodInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GOOD_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from GOOD_INFO
    where GOOD_NO = #{goodNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GOOD_INFO
    where GOOD_NO = #{goodNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.gxz.znrl.entity.GoodInfoCriteria" >
    delete from GOOD_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.gxz.znrl.entity.GoodInfoEntity" >
    insert into GOOD_INFO (GOOD_NO, GOOD_NAME, GOOD_TYPE,REMARK,STATUS
      )
    values (#{goodNo,jdbcType=VARCHAR}, #{goodName,jdbcType=VARCHAR},#{goodType,jdbcType=VARCHAR} #{remark,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.gxz.znrl.entity.GoodInfoEntity" >
    insert into GOOD_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
        GOOD_NO,
      <if test="goodName != null" >
        GOOD_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="goodType != null" >
        GOOD_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        SEQ_COMMON_CONFIG_ID.nextval,
      <if test="goodName != null" >
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="goodType != null" >
        #{goodType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.gxz.znrl.entity.GoodInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from GOOD_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update GOOD_INFO
    <set >
      <if test="record.goodNo != null" >
        GOOD_NO = #{record.goodNo,jdbcType=VARCHAR},
      </if>
      <if test="record.goodName != null" >
        GOOD_NAME = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.goodType != null" >
        GOOD_TYPE = #{record.goodType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update GOOD_INFO
    set GOOD_NO = #{record.goodNo,jdbcType=VARCHAR},
        GOOD_NAME = #{record.goodName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      GOOD_TYPE = #{record.goodType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.gxz.znrl.entity.GoodInfoEntity" >
    update GOOD_INFO
    <set >
      <if test="goodName != null" >
        GOOD_NAME = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="goodType != null" >
        GOOD_TYPE = #{goodType,jdbcType=VARCHAR},
      </if>
    </set>
    where GOOD_NO = #{goodNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.gxz.znrl.entity.GoodInfoEntity" >
    update GOOD_INFO
    set GOOD_NAME = #{goodName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      GOOD_TYPE = #{goodType,jdbcType=VARCHAR}
    where GOOD_NO = #{goodNo,jdbcType=VARCHAR}
  </update>
</mapper>