<div class="form-div">
    <form id="labCcForm" method="post">
        <table>
            <tr>
                <td>化验编码</td>
                <td><input id="laborCode" name="laborCode" class="easyui-textbox" style="width:150px;" data-options="required:true, editable:false" /></td>
                <td>化验指标</td>
                <td><input id="chemicalType" name="chemicalType" class="easyui-textbox" style="width:150px;" data-options="required:true, editable:false" /></td>
            </tr>
            <tr>
                <td>取舍依据（原因）</td>
                <td colspan="3"><input class="easyui-textbox" data-options="multiline:true, required:true" id="opReason" name="opReason" style="width:330px; height:120px"/></td>
            </tr>
        </table>
    </form>

    <div class="submit-div">
        <a href="javascript:void(0)" id="add" class="easyui-linkbutton" iconCls="icon-save"  onclick="submitForm()">保存</a>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        var qryObj = {};
        qryObj.search_labCcId = document.getElementById("idHidden").value;
        $.post("${base}/business/labory/qryLabCcInfoList", qryObj, function (rsp) {
            if (rsp) {
                if (rsp.rows.length > 0) {
                    $('#labCcForm').form('load',rsp.rows[0]);
                }
            }
        });
    });

    //提交表单
    function submitForm() {
    debugger;
        if (! $("#labCcForm").form('validate')) {
            showMsg("提示", "有必填项未输入值!");
            return false;
        }

        $.messager.confirm('提示', '确定保存?', function (r) {
            if (r) {
                //提交保存
                save();
            }
        });
    }

    //保存
    function save() {
        var params = $("#labCcForm").serialize();
        var labCcId = document.getElementById("idHidden").value;
        params = params + "&labCcId=" + labCcId;
        var postUrl = "";
        postUrl = "${base}/business/labory/editLabCcInfo/edit";

        $.post(postUrl, params, function (rsp) {
            if (rsp.successful) {
                showMsg("提示", rsp.msg);
                $('#labCcWin').window('close');
                $labCcDg.datagrid('reload');
            } else {
                showMsg("提示", rsp.msg);
            }
        });
    }

</script>
