<script type="text/javascript" charset="UTF-8" src="${base}/styles/easyui/jquery.min.js"></script>
<script type="text/javascript" src="${base}/styles/highcharts/highcharts.js"></script>
<script type="text/javascript" src="${base}/styles/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="${base}/styles/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="${base}/styles/highcharts/highslide.config.js" charset="utf-8"></script>
<script type="text/javascript" src="${base}/styles/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="${base}/styles/highcharts/modules/solid-gauge.js"></script>
<script type="text/javascript" src="${base}/styles/highcharts/modules/data.js"></script>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>

    Highcharts.setOptions({
        colors: ['#058DC7', '#FF9655', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#50B432','#FFF263', '#6AF9C4']
    });

    $(function () {

        // Get the CSV and create the chart
        $.getJSON('/portal/investMonth', function (csv) {

            $('#container').highcharts({

                data: {
                    csv: csv
                },

                title: {
                    text: ''
                },

                xAxis: {
                    tickInterval: 7 * 24 * 3600 * 1000 , // one week
                    tickWidth: 0,
                    gridLineWidth: 1,
                    labels: {
                        align: 'left',
                        x: 3,
                        y: -3,
                        formatter: function () {
                            return Highcharts.dateFormat('%m.%d', this.value);
                        }
                    }
                },

                yAxis: [{ // left y axis
                    title: {
                        text: null
                    },
                    labels: {
                        align: 'left',
                        x: 3,
                        y: 16,
                        format: '{value:.,0f}'
                    },
                    showFirstLabel: false
                }, { // right y axis
                    linkedTo: 0,
                    gridLineWidth: 0,
                    opposite: true,
                    title: {
                        text: null
                    },
                    labels: {
                        align: 'right',
                        x: -3,
                        y: 16,
                        format: '{value:.,0f}'
                    },
                    showFirstLabel: false
                }],

                legend: {
                    align: 'left',
                    verticalAlign: 'top',
                    y: 20,
                    floating: true,
                    borderWidth: 0
                },

                tooltip: {
                    shared: true,
                    crosshairs: true
                },

                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function (e) {
                                    hs.htmlExpand(null, {
                                        pageOrigin: {
                                            x: e.pageX || e.clientX,
                                            y: e.pageY || e.clientY
                                        },
                                        headingText: this.series.name,
                                        maincontentText: Highcharts.dateFormat('%Y-%m-%d', this.x) + ':<br/> ' +this.y + '￥',
                                        width: 200
                                    });
                                }
                            }
                        },
                        marker: {
                            lineWidth: 1
                        }
                    }
                },

                series: [{
                    name: 'All visits',
                    lineWidth: 4,
                    marker: {
                        radius: 4
                    }
                }, {
                    name: 'New visitors'
                }]
            });
        });

    });


</script>