    <div>&nbsp;</div>
    <div>
        <label for="laborCode">&nbsp;&nbsp;化验编码：</label>
        <input id="laborCode" style="width:120px;"/>
        <label for="batchType">&nbsp;&nbsp;化验批次类型：</label>
        <input id="batchType" style="width:120px;"/>
        &nbsp;<input type="hidden" id="hideLaborCode"/><input type="hidden" id="hideBatchType"/>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search"  onclick="qryResData();">查询</a>
        <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-ok" onclick="genLabReport();">生成化验报告</a>
    </div>


    <div style="margin: 5px;width: 98%">
        <!--<span style="color: #0099FF"><strong>化验天平</strong><input type="checkbox" value="1" id="tpCheckbox" /></span>-->
        <span style="color: #0099FF"><strong>化验天平</strong></span>
        <table id="labScalesDataDg" ></table>
    </div>


    <div style="margin: 5px;width: 98%">
        <!--<span style="color: #0099FF"><strong>定硫仪</strong><input type="checkbox" value="2" id="dlyCheckbox" /></span>-->
        <span style="color: #0099FF"><strong>定硫仪</strong></span>
        <table id="labSDataDg" ></table>
    </div>

    <div style="margin: 5px;width: 98%">
        <!--<span style="color: #0099FF"><strong>工业分析仪</strong><input type="checkbox" value="3" id="gyfxyCheckbox" /></span>-->
        <span style="color: #0099FF"><strong>工业分析仪</strong></span>
        <table id="labIADataDg" ></table>
    </div>

    <div style="margin: 5px;width: 98%">
        <!--<span style="color: #0099FF"><strong>量热仪</strong><input type="checkbox" value="4" id="lryCheckbox" /></span>-->
        <span style="color: #0099FF"><strong>量热仪</strong></span>
        <table id="labHotDataDg" ></table>
    </div>

    <div style="margin: 5px;width: 98%">
        <!--<span style="color: #0099FF"><strong>光波分析仪</strong><input type="checkbox" value="5" id="gbfxyCheckbox" /></span>-->
        <span style="color: #0099FF"><strong>光波分析仪</strong></span>
        <table id="labLaDataDg" ></table>
    </div>

<script type="text/javascript">
    //查询数据表格准备
    $scalesDg = $("#labScalesDataDg");
    $sDg = $("#labSDataDg");
    $iDg = $("#labIADataDg");
    $hotDg = $("#labHotDataDg");
    $laDg = $("#labLaDataDg");



    //下拉框获取化验编码
    $('#laborCode').combobox({
        url: '${base}/business/tool/getComboboxOpt/LABOR_CODE',
        panelHeight:'auto',
        valueField:'id',
        textField:'name'
    });


    $('#batchType').combobox({
        panelHeight:'auto',
        valueField:'id',
        textField:'name',
        data: [
            {id: '1', name: '初次化验', selected: true},
            {id: '2', name: '抽样第1次'},
            {id: '3',name: '抽样第2次'},
            {id: '4',name: '抽样第3次'}
        ]
    });


    //天平
    $(function(){
        var apprEventId = document.getElementById("h_apprEventId").value;
        //
        $scalesDg.datagrid({
            url: "${base}/business/labory/qryScalesResData",
            fitColumns: false,//此处一定不要自适应
            height: 150,
            width: $(this).width() - 25,
            idField:'id',
            queryParams: {
                search_laborCode:'-1'
            },
            frozenColumns: [
                [   {field: 'laborCode', title: '化验编码',align:'center', width:100},
                    {field: 'statusName', title: '数据状态',align:'center', width: 100},
                    {field: 'batchType', title: '化验批次类型',align:'center', width: 100},
                    {field: 'opTime', title: '化验时间',align:'center', width: 130},
                    {field: 'opName', title: '化验人',align:'center', width: 100}

                ]
            ],
            columns: [
                [   {field: 'standard', title: '执行标准',align:'center', width: 160},
                    {field: 'temperature', title: '温度',align:'center', width: 100},
                    {field: 'humidity', title: '湿度',align:'center', width: 100},
                    {field: 'ggNo', title: '坩埚号',align:'center', width: 100},
                    {field: 'mypQty', title: '煤样瓶重量',align:'center', width: 100},
                    {field: 'samplingQty', title: '样品重量',align:'center', width: 100},
                    {field: 'totalQty', title: '总重量',align:'center', width: 100},
                    {field: 'afterDryQty', title: '干燥后总重量',align:'center', width: 100},
                    {field: 'testQty', title: '检查后干燥重量',align:'center', width: 100},
                    {field: 'qtyLoss', title: '重量损失',align:'center', width: 100},
                    {field: 'lossStyle', title: '焦炭特性',align:'center', width: 100},
                    {field: 'mt', title: '全水分',align:'center', width: 100},
                    {field: 'mad', title: '水分',align:'center', width: 100},
                    {field: 'adStyle', title: '灰分化验方式',align:'center', width: 100},
                    {field: 'aad', title: '空干基灰分',align:'center', width: 100},
                    {field: 'ad', title: '干基灰分',align:'center', width: 100},
                    {field: 'vad', title: '挥发分',align:'center', width: 100},
                    {field: 'deviceName', title: '化验设备',align:'center', width: 100}
                ]
            ]
        })
    });

    //定硫仪
    $(function(){
        $sDg.datagrid({
            url: "${base}/business/labory/qrySResData",
            fitColumns: false,//此处一定不要自适应
            height: 150,
            width: $(this).width() - 25,
            idField:'id',
            queryParams: {
                search_laborCode:'-1'
            },
            frozenColumns: [
                [   {field: 'laborCode', title: '化验编码',align:'center', width:100},
                    {field: 'statusName', title: '数据状态',align:'center', width: 100},
                    {field: 'batchType', title: '化验批次类型',align:'center', width: 100},
                    {field: 'opTime', title: '化验时间',align:'center', width: 130},
                    {field: 'opName', title: '化验人',align:'center', width: 100}

                ]
            ],
            columns: [
                [   {field: 'standard', title: '执行标准',align:'center', width: 160},
                    {field: 'temperature', title: '温度',align:'center', width: 100},
                    {field: 'humidity', title: '湿度',align:'center', width: 100},
                    {field: 'ggNo', title: '坩埚号',align:'center', width: 100},
                    {field: 'samplingName', title: '试样名称',align:'center', width: 100},
                    {field: 'samplingWeight', title: '试样重量',align:'center', width: 100},
                    {field: 'mad', title: '空干基水分水分',align:'center', width: 100},
                    {field: 'stAd', title: '空干基全硫',align:'center', width: 100},
                    {field: 'stD', title: '干基全硫',align:'center', width: 100},
                    {field: 'ccVal', title: '超差',align:'center', width: 100},
                    {field: 'jzStyle', title: '校正方式',align:'center', width: 100},
                    {field: 'totalTime', title: '总时间',align:'center', width: 130},
                    {field: 'deviceName', title: '化验设备',align:'center', width: 100}
                ]
            ]
        })
    });


    //工业分析仪
    $(function(){
        $iDg.datagrid({
            url: "${base}/business/labory/qryIAResData",
            fitColumns: false,//此处一定不要自适应
            height: 150,
            width: $(this).width() - 25,
            idField:'id',
            queryParams: {
                search_laborCode:'-1'
            },
            frozenColumns: [
                [   {field: 'laborCode', title: '化验编码',align:'center', width:100},
                    {field: 'statusName', title: '数据状态',align:'center', width: 100},
                    {field: 'batchType', title: '化验批次类型',align:'center', width: 100},
                    {field: 'opTime', title: '化验时间',align:'center', width: 130},
                    {field: 'opName', title: '化验人',align:'center', width: 100}
                ]
            ],
            columns: [
                [   {field: 'standard', title: '执行标准',align:'center', width: 160},
                    {field: 'temperature', title: '温度',align:'center', width: 100},
                    {field: 'humidity', title: '湿度',align:'center', width: 100},
                    {field: 'samplingName', title: '试样名称',align:'center', width: 100},
                    {field: 'ggNo', title: '坩埚号',align:'center', width: 100},
                    {field: 'shKggWeight', title: '水灰空坩埚重',align:'center', width: 100},
                    {field: 'shSamplingWeight', title: '水灰煤样重',align:'center', width: 100},
                    {field: 'mad', title: '空干基水分',align:'center', width: 100},
                    {field: 'aad', title: '空干基灰分',align:'center', width: 100},
                    {field: 'ad', title: '干基灰分',align:'center', width: 100},
                    {field: 'hkTotalWeight', title: '挥空坩埚加样重',align:'center', width: 100},
                    {field: 'hkSamplingWeight', title: '挥空煤样重量',align:'center', width: 100},
                    {field: 'vad', title: '空干基挥发分',align:'center', width: 130},
                    {field: 'vdaf', title: '收到基挥发分',align:'center', width: 130},
                    {field: 'ccVal', title: '超差',align:'center', width: 130},
                    {field: 'deviceName', title: '化验设备',align:'center', width: 100}
                ]
            ]
        })
    });

    //量热仪
    $(function(){
        $hotDg.datagrid({
            url: "${base}/business/labory/qryHotResData",
            fitColumns: false,//此处一定不要自适应
            height: 150,
            width: $(this).width() - 25,
            idField:'id',
            queryParams: {
                search_laborCode:'-1'
            },
            frozenColumns: [
                [   {field: 'laborCode', title: '化验编码',align:'center', width:100},
                    {field: 'statusName', title: '数据状态',align:'center', width: 100},
                    {field: 'batchType', title: '化验批次类型',align:'center', width: 100},
                    {field: 'opTime', title: '化验时间',align:'center', width: 130},
                    {field: 'opName', title: '化验人',align:'center', width: 100}
                ]
            ],
            columns: [
                [   {field: 'standard', title: '执行标准',align:'center', width: 160},
                    {field: 'temperature', title: '温度',align:'center', width: 100},
                    {field: 'humidity', title: '湿度',align:'center', width: 100},
                    {field: 'samplingName', title: '试样名称',align:'center', width: 100},
                    {field: 'samplingWeight', title: '试样重量',align:'center', width: 100},
                    {field: 'ggNo', title: '坩埚号',align:'center', width: 100},
                    {field: 'tempIncrease', title: '主期升温',align:'center', width: 100},
                    {field: 'jzValue', title: '校正值',align:'center', width: 100},
                    {field: 'jqTemp', title: '机器热熔温',align:'center', width: 100},
                    {field: 'qbAd', title: '弹筒热',align:'center', width: 100},
                    {field: 'ccVal', title: '超差',align:'center', width: 130},
                    {field: 'deviceName', title: '化验设备',align:'center', width: 100}
                ]
            ]
        })
    });


    //光波分析仪
    $(function(){
        $laDg.datagrid({
            url: "${base}/business/labory/qryLaResData",
            fitColumns: false,//此处一定不要自适应
            height: 150,
            width: $(this).width() - 25,
            idField:'id',
            queryParams: {
                search_laborCode:'-1'
            },
            frozenColumns: [
                [   {field: 'laborCode', title: '化验编码',align:'center', width:100},
                    {field: 'statusName', title: '数据状态',align:'center', width: 100},
                    {field: 'batchType', title: '化验批次类型',align:'center', width: 100},
                    {field: 'opTime', title: '化验时间',align:'center', width: 130},
                    {field: 'opName', title: '化验人',align:'center', width: 100}
                ]
            ],
            columns: [
                [   {field: 'standard', title: '执行标准',align:'center', width: 160},
                    {field: 'temperature', title: '温度',align:'center', width: 100},
                    {field: 'humidity', title: '湿度',align:'center', width: 100},
                    {field: 'samplingName', title: '试样名称',align:'center', width: 100},
                    {field: 'samplingWeight', title: '试样重量',align:'center', width: 100},
                    {field: 'ggNo', title: '坩埚号',align:'center', width: 100},
                    {field: 'mypWeight', title: '煤样瓶重量',align:'center', width: 100},
                    {field: 'weightLoss', title: '残重',align:'center', width: 100},
                    {field: 'mt', title: '全水分',align:'center', width: 100},
                    {field: 'tempPower', title: '温度/功率',align:'center', width: 100},
                    {field: 'keepTime', title: '恒温时间',align:'center', width: 100},
                    {field: 'ccVal', title: '超差',align:'center', width: 130},
                    {field: 'deviceName', title: '化验设备',align:'center', width: 100}
                ]
            ]
        })
    });


    //查询
    function qryResData() {
        var qryLaborCode = $("#laborCode").combobox("getValue");
        var qryBatchType = $("#batchType").combobox("getValue");

        if (qryLaborCode == null || qryLaborCode == undefined || qryLaborCode == "") {
            showMsg("提示", "请选择要查询的化验编码");
            return false;
        } else {
            document.getElementById("hideLaborCode").value = qryLaborCode;
            document.getElementById("hideBatchType").value = qryBatchType;
        }

        var paramObj = new Object();

        if (qryLaborCode != null && qryLaborCode != undefined && qryLaborCode != "") {
            paramObj.search_laborCode = qryLaborCode;
        }

        if (qryBatchType != null && qryBatchType != undefined && qryBatchType != "") {
            paramObj.search_batchType = qryBatchType;
        }

        //加载数据
        $scalesDg.datagrid("load",paramObj);
        $sDg.datagrid("load",paramObj);
        $iDg.datagrid("load",paramObj);
        $hotDg.datagrid("load",paramObj);
        $laDg.datagrid("load",paramObj);
    }

    //生成化验报告
    function genLabReport(){
//        $('input[type=checkbox]:checked').each(function() {
//            //alert($(this).val());
//        });

        var qryLC = document.getElementById("hideLaborCode").value;
        var qryBatchType = document.getElementById("hideBatchType").value;
        if (qryLC == null || qryLC == ""){
            showMsg("提示", "请先选择化验编码进行相应的化验数据查询");
            return false;
        }
        var paramObj = new Object();
        paramObj.search_laborCode = qryLC;
        paramObj.search_batchType = qryBatchType;
        paramObj.search_apprEventTypeCd = '5';//审批事件类型，5生成化验报告
        $.messager.confirm('提示', '一个批次的化验数据确认完整才能生成完整的化验报告，确定继续?', function (r) {
            if (r) {
                //提交数据   scales表示天平
                $.post("${base}/business/labory/submitLabReport", paramObj, function(rsp) {
                    if(rsp.successful){
                        //加载数据
                        $scalesDg.datagrid("reload");
                        $sDg.datagrid("reload");
                        $iDg.datagrid("reload");
                        $hotDg.datagrid("reload");
                        $laDg.datagrid("reload");
                        showMsg("提示", rsp.msg+" 化验报告审批请求已提交，审批通过后系统将生成化验报告。");
                    } else {
                        showMsg("提示", rsp.msg);
                    }
                }, "JSON").error(function() {
                            showMsg("提示", "保存失败！");
                        });
            }
        });
    }

</script>