<script type="text/javascript" charset="UTF-8" src="${base}/styles/easyui/jquery.min.js"></script>
<script type="text/javascript">
    var WEB_GLOBAL_CTX = "${base}"; //全局上下文
    var WEB_GLOBAL_THEME = "";  //全局样式
</script>
<link id="easyuiTheme" rel="stylesheet" type="text/css" href="${base}/styles/easyui/themes/default/easyui.css">
<script type="text/javascript" charset="UTF-8" src="${base}/styles/js/changeEasyuiTheme.js"></script>
<link rel="stylesheet" type="text/css" href="${base}/styles/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${base}/styles/css/common.css">
<link rel="stylesheet" type="text/css" href="${base}/styles/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="${base}/styles/css/dataTables.tableTools.css">
<link rel="stylesheet" type="text/css" href="${base}/styles/css/introjs.css">
<script type="text/javascript" src="${base}/styles/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${base}/styles/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${base}/styles/easyui/easyloader.js"></script>
<script type="text/javascript" src="${base}/styles/js/jqueryUtil.js"></script>
<script type="text/javascript" src="${base}/styles/js/json2.js"></script>
<script type="text/javascript" src="${base}/styles/js/editorSelf.js"></script>
<script type="text/javascript" src="${base}/styles/js/ruleSelf.js"></script>
<script type="text/javascript" src="${base}/styles/js/common/common.js"></script>
<script type="text/javascript" src="${base}/styles/js/formatter.js"></script>
<script type="text/javascript" src="${base}/styles/js/printThis.js"></script>
<script type="text/javascript" src="${base}/styles/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="${base}/styles/js/dataTables.tableTools.js"></script>
<script type="text/javascript" src="${base}/styles/js/intro.js"></script>
<script type="text/javascript" src="${base}/styles/js/jquery.edatagrid.js"></script>
<script type="text/javascript" src="${base}/styles/js/datagrid-detailview.js"></script>
<script type="text/javascript" src="${base}/styles/js/jquery-barcode.js"></script>
<script type="text/javascript" src="${base}/styles/js/jquery.easyui.patch.js"></script>
<style type="text/css">
</style>