<div class="form-div">
    <form id="ff" method="post" commandName="coalType">
        <table >
            <tr>
                <td >煤种名称:</td>
                <td><input class="easyui-textbox" type="text" name="coalName" id="coalName" data-options="required:true,validType: 'length[2,50]'"/>
                    <input type="hidden" id="coalNo" />
                </td>
                <td >简称:</td>
                <td><input class="easyui-textbox" type="text" name="forShort" id="forShort" data-options="required:true,validType: 'length[1,20]'"/></td>
            </tr>
            <tr>
                <td >备注信息:</td>
                <td colspan="3"><textarea  name="remark" id="remark" cols="55" rows="5"></textarea></td>
            </tr>
        </table>
    </form>
    <div class="submit-div">
        <a href="javascript:void(0)" id="add" class="easyui-linkbutton" iconCls="icon-save"  onclick="submitForm()">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="clearFrom();">重置</a>
    </div>
</div>
<script type="text/javascript">
    var dowhat = "${doWhat}";
    function clearFrom() {
        $('#ff').form('clear');
    }

    function save(){
        var params = $("#ff").serialize();
        var coalNo = document.getElementById("coalNo").value;
        var postUrl = "";
        if (dowhat == "add") {
            postUrl = "${base}/business/config/coalType/add";
        } else {
            postUrl = "${base}/business/config/coalType/edit/"+coalNo;
        }
        $.post(postUrl,params, function (rsp) {
            if (rsp.successful) {
                showMsg("提示",rsp.msg);
                closeWin();
            } else {
                showMsg("提示", rsp.msg);
                $('#add').linkbutton({disabled:false});
            }
        }).error(function () {
            showMsg("提示", "更新失败,请重新登陆!");
            $('#add').linkbutton({disabled:false});
        });
    }

    $('#ff').find('input').on('keyup',function(event){
        if(event.keyCode == '13'){
            submitForm();
        }
    });
    //$('#state').combobox('getValue') == ""
    function submitForm(){
        if (! $("#ff").form('validate'))  return false;
        if ($("#coalName").val() == "") {
            showMsg("提示", "请填写煤种名称！");
            return false;
        }
        $('#add').linkbutton({disabled:true});
        save();
    }
    function showMsg(title,msg)
    {
        $.messager.show({
            title:title,
            msg:msg
        });
    }
    var coalType = JSON.parse(JSON.stringify(${.globals.coalType}));
    if (coalType.coalNo != null && coalType.coalName != '') {
        $('#ff').form('load', coalType);
        document.getElementById("coalNo").value = coalType.coalNo;
    }

</script>